body {
    background-image: url(/images/bckP.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #FF69B4;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

button {
    background-color: #FF69B4;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #FF1493;
}
